*{
    box-sizing: border-box;
}

.dropdown{
    margin:16px;
    display:inline-block;

}
.menu-button{
    padding:16px 16px 16px 16px;
    background-color:darkgreen;
    opacity:0.8;
    font-size:16px; 
    color:white;
    cursor:pointer;
    position:relative;
    display:inline-block;
    
}
.menu-button:hover{
    opacity:1;
}
.dropdown:hover .menu-list{
    display:block;
}
.menu-list{
   display:none;
    min-width:120px;
    z-index:1;
    list-style-type: none;
   position:absolute;
   margin:0;
   padding:0;
   box-shadow:0px 4px 8px 0px rgba(0, 0, 0, 0.2);
   
}
.menu-item{
    background-color: lightcyan;
    color:black;
    
    padding:16px;
    
}
.menu-item:hover{
    background-color:ghostwhite;
}
